body {
    overflow-y: scroll;
    /* Always show vertical scrollbar */
    overflow-x: hidden;
}

.App {
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.RegionButtons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mainMenu {
    order: 1;
    width: 5rem;
    height: 2rem;
}

.eachCountry {
    order: 2;
    text-align: center;
}

.flagContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.countryInfo {
    max-width: 320px;
}

.eachFlag {
    min-height: 240px;
    max-height: 240px;
    max-width: 320px;
    min-width: 320px;
}